
{% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="alerts alerts-{{ type }}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}