{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="mb-4 text-center text-muted">Somethings went wrong...</h1>

    <p>
        <a href="{{ path('homepage') }}" class="btn btn-light">return to the homepage</a>.
    </p>
{% endblock %}